<div class="container">

  <div class="profile-info">
   <div class="row">
    <div class="col-sm-1 col-xs-12">
        <div class="avatar"><%= image_tag @user.profile_image %></div>
    </div>

    <div class="col-sm-7 col-xs-12">
      <p class="h3"><%= @user.user_name %></p>
      <p class="user-location"><i class="icon-placepin"></i><%= @user.location %></p>
      <p class="user-bio"><%= @user.bio %></p>
    </div>
    <div class="col-md-4"></div>
  </div>
  </div>


  </div>

  <div class="container">

<div id="item-container" class="transitions-enabled infinite-scroll clearfix">
  <% @listings.each do |listing| %>
    <div class="box col3">
      <div class="item-small">
       <%= link_to '', listing, :class => 'item-link' %>
        <%= image_tag listing.photos.first.image.small.url %> 
          <div class="item-info">
            <p class="item-name"><%= listing.name %></p>
            <p class="item-price"><%= listing.price %> €</p>
          </div>
      </div>
    </div>
  <% end %>
</div>
</div>