<div class="container">
  <div class="units-row profile-header">
      <div class="unit-10 user-img">
              <%= image_tag(@user.profile_image)%>  
      </div>
      <div class="unit-50 user-info">
              <p class="h1 name"><%= @user.name %></p>
              <p class="bio">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
      </div>
      <div class="unit-40 user-stats">
        <ul class="right">
          <li>
            <p class="h1">0</p>
            <span>Rankdarbi킬</span>
          </li>
          <li>
            <p class="h1">0</p>
            <span>Per탑i큰r킬</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>













<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
 <% if @listings %>
 <% @listings.each do |listing| %>
      <tr>
        <td><%= link_to image_tag(listing.image_1.url), listing %></td>
        <td><%= listing.name %></td>
        <td><%= listing.user.name %></td>
        <td><%= listing.description %></td>
        <td><%= listing.price %></td>
        <td><%= link_to 'Show', listing %></td>
      </tr>
  <% end %>
  <% end %>

    </tbody>
</table>
