<div class="container">

  <div class="profile-info">
   <div class="row">
    <div class="col-sm-1 col-xs-12">
        <div class="avatar"><%= image_tag @user.profile_image %></div>
    </div>

    <div class="col-sm-7 col-xs-12">
      <p class="h3"><%= @user.user_name %></p>
      <% if @user.location?%>
        <i class="icon-placepin"></i><p class="location"><%= @user.location %></p>
      <% end %>
        <% if @user.bio? %>
      <p class="user-bio"><%= @user.bio %></p>
        <% end %>
    </div>
  </div>
  </div>
<div class="split"></div>

  </div>

  <div class="container">
  <div class="user-profile-section">
    <p class="user-profile-section-title">Autoriaus rankdarbiai</p>
    <%= render 'forms/items' %>
  </div>

  </div>