
<div class="container">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<div class="register-box">


<h3>Sveiki atvykę!</h3>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "<span style='font-weight:300'>Registruotis su</span> Facebook".html_safe,
          omniauth_authorize_path(resource_name, provider), 
          :class => 'btn btn-primary facebook' %>
    <% end -%>
    <div class="separator"><p>arba</p></div>

    <div class="form-group label-prefix">
    <p class="label-prefix">www.makers.lt/ </p>
    <%= f.text_field :user_name, autofocus: true, 
              :class => 'custom-form label-prefix', :placeholder => 'vartotojo_vardas' %>
      <!-- <p class="help-block"></p> -->
    </div>

    <div class="form-group">
    <%= f.email_field :email, 
              :class => 'custom-form', :placeholder => 'El. paštas' %>
    </div>

    <div class="form-group">
    <%= f.password_field :password, autocomplete: "off", 
                         :class => 'custom-form password', :placeholder => 'Slaptažodis' %>
    </div>

    <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "off", 
                         :class => 'custom-form password repeat', :placeholder => 'Pakartokite slaptažodį.' %>
    </div>

    <div><%= f.submit "Registruotis", :class => 'btn btn-primary' %></div>
  <p class="login">Jau turite paskyrą?</p><%= link_to "Prisijunkite!", new_user_session_path %>
</div>
  <% end %>
</div>