<div class="container">
<div class="dragndrop">
  <div class="dragndrop-add"> 
      <h3>Įtempkite nuotraukas čia</h3>
      <p>arba</p>
      <button type="button" class="btn btn-primary">Pridėti nuotraukas</button>
    </div>
</div>
</div>
<div class="container small">
<%= form_for @listing , :html => { :multipart => true } do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
  <label for="exampleInputEmail1">Rankdarbio pavadinimas</label>
    <%= f.text_field :name, :class => 'custom-form'%>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Aprašmas</label>
    <%= f.text_area :description, :rows => '5', :class => 'custom-form'%>
   </div>

   <div class="input-group">
      <label for="exampleInputEmail1">Kaina</label>

      <%= f.text_field :price, :class => 'custom-form' %>
      <div class="input-group-addon">@</div>

    </div>

  <%= f.select :category, Category.order(:name)%>


  <div class="field">
    <%= f.label :image %><br>

   <!-- <%= f.file_field :image, multiple: true, name: "listing[image]" %> -->

   #images[] returned to the album as an array. We use file_field_tag since images is not @album's attribute
    <%= file_field_tag "images[]", type: :file, multiple: true %>
    
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>