<div class="container">

<div id="item-container" class="transitions-enabled infinite-scroll clearfix">
  <% @listings.each do |listing| %>
    <div class="box col3">
      <div class="item-small">
       <%= link_to '', listing, :class => 'item-link' %>
        <%= image_tag listing.photos.first.image.small.url %> 
          <div class="item-info">
            <p class="item-name"><%= listing.name %></p>
            <p class="item-price"><%= listing.price %> €</p>
          </div>
      </div>
    </div>
  <% end %>
</div>










<%= link_to 'New Listing', new_listing_path %>
<%= link_to 'Redaguoti', new_listing_path %>
</div>

