<div class="container">
  <div class="listing-container">
    <div class="row">
      <div class="col-md-8 col-xs-12">  
      <div id="slider">
        <div class="col-md-12" id="carousel-bounding-box">
          <div id="images-carousel" class="carousel slide">
            <div class="carousel-inner">
              <% unless @photos.empty? %>
                <% @photos.each do |pic| %>
                  <div class="item">
                    <%= image_tag pic.image.large.url, :class => 'img-responsive' %>
                  </div>
                <% end %>
              <% end %>
            </div>
                        
          <a class="carousel-control left" href="#images-carousel" data-slide="prev">
            <i class="icon-angle-left"></i>
          </a>
          <a class="carousel-control right" href="#images-carousel" data-slide="next">
            <i class="icon-angle-right"></i>
          </a>
          
          </div>
        </div>
        </div>

        <div class="col-md-12 hidden-sm hidden-xs" id="slider-thumbs">
          <ul class="list-inline">
            <% unless @photos.empty? %>
              <% @photos.each do |pic| %>
                <li> <a>
                <%= image_tag pic.image.thumb.url, :class => 'img-responsive' %>
                </a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>



    <div class="col-md-4 col-xs-12">
        <div class="listing-right">
	        <p class="h3 item-name"><%= @listing.name %></p>
	        <p class="h4 item-price divider"><%= @listing.price %> €</p>
          <div class="listing-info">
            <div class="row">
              <div class="col-md-4">
                <p class="title">Autorius</p>
              </div>
              <div class="col-md-8">
                <p class="info">
                <a href="/<%= @listing.user.name %>"><%= @listing.user.user_name %></a>
                </p>
              </div>
            </div>
            <% if @listing.state.present? %>
              <div class="row">
                <div class="col-md-4">
                  <p class="title">Busena</p>
                </div>
                <div class="col-md-8">
                  <p class="info tags"><%= @listing.state %></p>
                </div>
              </div>
            <% end %>
            <% if @listing.dimentions.present? %>
              <div class="row">
                <div class="col-md-4">
                  <p class="title">Matmenys</p>
                </div>
                <div class="col-md-8">
                  <p class="info"><%= @listing.dimentions %></p>
                </div>
              </div>
            <% end %>
            <% if @listing.user.location.present? %>
              <div class="row">
                <div class="col-md-4">
                  <p class="title">Miestas</p>
                </div>
                <div class="col-md-8">
                  <p class="info"><%= @listing.user.location %></p>
                </div>
              </div>
            <% end %>          
            <% if @listing.materials.present? %>
              <div class="row">
                <div class="col-md-4">
                  <p class="title">Medžiagos</p>
                </div>
                <div class="col-md-8">
                  <p class="info tags"><%= @listing.materials %></p>
                </div>
              </div>
            <% end %>
          </div>  

          <p class="description"><%= @listing.description %></p>
          <% if @listing.exchangeable == true %>
          <div class="exchangeable">
          <i class="icon-brush"></i><p>Galimi panašūs rankdarbiai pagal užsakymą.</p>
          </div>
          <% end %>
          <% if current_user == @listing.user %>
            <%= link_to 'Redaguoti', edit_listing_path(@listing), :class => 'btn btn-primary' %>
            <%= link_to 'Ištrinti', @listing, method: :delete, data: { confirm: 'Ar tikrai norite ištrinti rankdarbį?' }, class: "btn btn-primary red"%>
          <% else %>
            <%= link_to "Noriu pirkti", "#message", "data-toggle" => "modal", :class => 'btn btn-primary' %>
          <% end %>

        </div>
    </div> 


</div>

</div>
</div>



<%= render "conversations/message_modal" %>




