
<div class="container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="register-box">

<h3>Sveiki atvykę!</h3>
<%- resource_class.omniauth_providers.each do |provider| %>
    	<%= link_to "<span style='font-weight:300'>Prisijungti su</span> Facebook".html_safe,
    			omniauth_authorize_path(resource_name, provider), 
    			:class => 'btn btn-primary facebook' %>
  	<% end -%>
  	<div class="separator"><p>arba</p></div>

    <div class="form-group">
  	<%= f.email_field :email, autofocus: true, 
    				  :class => 'custom-form', :placeholder => 'El. paštas' %>
    </div>

		<div class="form-group">
    <%= f.password_field :password, autocomplete: "off", 
    					 :class => 'custom-form', :placeholder => 'Slaptažodis' %>
   	</div>

  <div><%= f.submit "Prisijungti", :class => 'btn btn-primary' %></div>
  <p class="login">Dar neturite paskyros?</p> <%= link_to "Užsiregistruokite!", new_user_registration_path %>
</div>
  <% end %>
</div>