	

	<div class="cat-hero"  style="background: url('<%= @category.hero_image %>') center center">
		<div class="container">
			<div class="cat-info">
						<p class="cat-name">
							<%= @category.name %>
						</p>


					<p class="cat-description">
						<%= @category.description %>
					</p>

			</div>
	<div class="subcategories">

				<% @subcategories.each do |subcategory| %>
					<%= link_to subcategory.name,  [@category, subcategory] %>
				<% end %>

	</div>



		</div>

	</div>

<div class="container">

	<%= render 'forms/items' %>

</div>

