<div id="header" class="header">
  <div class="container-header">
    <a class="header-logo"></a>
      <ul class="nav">
        <li class="btn"><a>Kategorijos</a></li>
      </ul>
      <ul class="nav right">
        <li class="btn-upload"><%= link_to 'Įkelti rankdarbį', new_listing_path %></li>
        <% if user_signed_in? %>
        <li class="dropdown user-item">Alex</li>
      </ul>
      
          <ul class="cf tooltip-top-right user-tooltip open">
          <a href='/<%=current_user.name %>'  class="tooltip-user-name"><li><%= current_user.name %>
          <span class="tooltip-user-view-profile">Peržiūrėti profilį</span>
          <li></a>
          <li><%= link_to "Redaguoti paskyrą", edit_user_registration_path %></li>
          <li class="sign_out"><%= link_to('Atsijungti', destroy_user_session_path, :method => :delete) %></li>
              <% else %>
        <!--<li><%= link_to "Registruotis", new_user_registration_path %></li> -->
          <li><%= link_to "Prisijungti", new_user_session_path %></li>
          <% end %>
          </ul>
      
  </div>
</div>













        

