<header class="group dark">
  <div class="navbar-wrap">
    <nav class="navbar navbar-left">
        <ul>
            <li><a href="http://localhost:3000" class="logo"></a></li>
            <li><a href="#" data-tools="dropdown" data-target="#dropdown-cat">Kategorijos</a></li>
            <li><a href="#">Autoriai</a></li>
        </ul>
    </nav>
    <nav class="navbar navbar-right">
      <% if user_signed_in? %>
      <ul>
        <li><a href="/listings/new" class="header-btn">Įkelti rankdarbį</a></li>
        <li><a href="#"><i class="icon-talk-chat-2"></i></a></li>
        <li><a href="#"><i class="selected-ico"></i></a></li>
        <li><a href="#" data-tools="dropdown" data-target="#dropdown-user">
        <%= image_tag(current_user.profile_image) %></a></li>
      </ul>
    <% else %>
      <ul>
       <li><%= link_to "Prisijungti", new_user_session_path, data: { modal: true } %></li>
       <button class="btn" id="show-modal" data-tools="modal" data-width="700" data-title="Modal Header" data-content="/vartotojas/sign_in">
    Open Modal
</button>
      </ul>
    <% end %>
    <% if user_signed_in? %>
      <ul id="dropdown-user" class="dropdown">
        <li><a href='/<%=current_user.name %>'>Mano profilis</a></li>
        <li><%= link_to "Nustatymai", edit_user_registration_path %></li>
        <li class="sign_out"><%= link_to('Atsijungti', destroy_user_session_path, :method => :delete) %>
        </li>
    </ul>
    <%end%>
        <ul id="dropdown-cat" class="dropdown">
        <li><a href='#'><i class="icon-monocle-mustache-streamline"></i>Papuošalai</a></li>
        <li><a><i class="icon-bag-shopping-streamline"></i>Aksesuarai</a></li>
        <li><a><i class="icon-shoes-snickers-streamline"></i>Apranga ir avalynė</a></li>
        <li><a><i class="icon-armchair-chair-streamline"></i>Namų dekoras</a></li>
        <li><a><i class="icon-happy-smiley-streamline"></i>Dovanos</a></li>
        <li><a><i class="icon-like-love-streamline"></i>Augintiniams</a></li>
        <li><a><i class="icon-brush-paint-streamline"></i>Reikmenys</a></li>
        <li><a><i class="icon-photo-pictures-streamline"></i>Rodyti viską</a></li>
    </ul>
    </nav>

    </div>
</header>
